---
layout: default
title: Portfolio
---

<main id="portfolio">
	<section>
		<div id="portfolio-gallery">
			{% for project in site.projects %}
			<div class="container">
				<div class="aspect-ratio-keeper"> </div>
				<div class="content">
					<a href="{{ site.baseurl }}{{ project.url }}">
						<span class="link-spanner"></span>
						<div class="inner-text">
							<h2>
								{{ project.title }}
							</h2>
							<h4>
								<span>{{ project.language }}</span>
							</h4>
							<div class="image-container">
								<div class="image-vertical-align-box" >
									<img class="inner" src="{{ site.baseurl }}/{{ site.project_image_path }}/{{ project.image }}">
								</div>
							</div>
							<h4>
								{% if project.iturn_url %}
									<span class="app-store-button">
										<a href="{{ project.iturn_url }}">
											<img src="{{ site.baseurl }}/{{ site.image_path }}/appstore_button.png">
										</a>
									</span>
								{% endif %}
								{% if project.google_play_url %}
								<span class="app-store-button">
									<a href="{{ project.google_play_url }}">
										<img src="{{ site.baseurl }}/{{ site.image_path }}/googleplay_button.png">
									</a>
								</span>
								{% endif %}
							</h4>
							<h4>
								<!-- <iframe width="420" height="315" src="http://www.youtube.com/embed/\"{{ project.content }}\" frameborder="0"></iframe> -->
							</h4>
							<h6>
								<span>{{ project.content }}</span>
							</h6>
						</div>
					</a>
				</div>
			</div>
			<hr>
			{% endfor %}
		</div>
	</section>
</main>
