---
layout: default
title: Portfolio
---

<main id="portfolio">
	<section>
		<div id="portfolio-gallery">
			{% for project in site.projects %}
			<div class="container">
				<div class="aspect-ratio-keeper"> </div>
				<div class="content">
					<a href="{{ site.baseurl }}{{ project.url }}">
						<span class="link-spanner"></span>
						<div class="image-container">
							<div class="image-vertical-align-box" >
								<img class="inner" src="{{ site.baseurl }}/{{ site.project_image_path }}/{{ project.image }}">
							</div>
						</div>
						<div class="inner-text">
							<h2>
								{{ project.title }}
							</h2>
							<h4>
								<span>{{ project.language }}</span>
							</h4>
						</div>
					</a>
				</div>
			</div>
			<hr>
			{% endfor %}
		</div>
	</section>
</main>
